apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://oci-loki:3100
    isDefault: true
    version: 1
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: loki
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
